body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9c97f;
  font-family: 'Patrick Hand', cursive;
}

.container {
  background: #ffffff;
  width: 1000px;
  min-height: 500px;
  padding: 30px 25px;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 28px;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  border-bottom: 2px solid #444;
  background: transparent;
  font-size: 18px;
  padding: 5px;
  outline: none;
}

button {
  background: #7fbf5f;
  border: none;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

button:hover {
  background: #6aa94e;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

li input[type="checkbox"] {
  transform: scale(1.2);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.hearts {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #cc5c5c;
}


#themeToggle {
  align-self: flex-end;
  margin-bottom: 15px;
  background: #ddd;
  color: black;
}

body.dark {
  background-color: #2e2e2e;
}

body.dark .container {
  background: #3a3a3a;
  color: white;
}

body.dark input {
  border-bottom: 2px solid white;
  color: white;
}

body.dark li {
  border-bottom: 1px solid #555;
}

body.dark button {
  background: #555;
  color: white;
}

body.dark button:hover {
  background: #777;
}

body.dark .stars {
  color: #ffd700;
}
